.contactContainer {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.contactbg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 54, 40, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.contact-content {
  color: white;
  text-align: center;
}

.contact-content h1 {
  font-size: 2.5rem;
}

.contact-content p {
  color: #ff9f1c;
  display: inline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.text-container {
  flex: 1 1 300px;
  padding: 1rem;
}

.text-container span {
  color: #ff9f1c;
}

.text-container h1 {
  text-align: center;
  color: #313628;
  font-size: 2rem;
}

.text-container > p {
  text-align: center;
}
.contactdeats {
  display: flex;
}
.contact-info, .contact-infos {
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact-item, .contact-items {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-item img, .contact-items img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.contact-details, .contact-detail {
  color: #313628;
}

.contact-detail p {
  font-size: 0.9rem;
}

.message-container {
  flex: 1 1 300px;
  padding: 5rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-field {
  margin: 0.5rem;
  flex: 1 1 200px;
  position: relative;
  margin-bottom: 1.5rem;
}

.input-small,
.phone-area,
.input-large {
  border: 2px solid #313628;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.error {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  top: -1.2rem;
  left: 0;
}

.submit-button {
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #ff9f1c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #e08300;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.office-info {
  flex: 1 1 300px;
  padding: 1rem;
}

.office-info h1 {
  color: #313628;
  text-align: center;
  font-size: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.area-card {
  flex: 1 1 250px;
  border-radius: 10px;
  padding: 1rem;
  background-color: #313628;
  color: white;
}

.addressplace {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.addressplace img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.map-area {
  flex: 1 1 300px;
  padding: 1rem;
}

.mapimage {
  margin-top: 7rem;
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #313628;
  color: white;
}

.footer-first,
.footer-second,
.footer-third {
  flex: 1 1 250px;
  padding: 1rem;
}

.footlogo {
  height: 80px;
  width: 80px;
}

.footer-content {
  display: flex;
  align-items: center;
}

.follow-us {
  display: flex;
  gap: 10px;
}

.follow-icon {
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .contact-content h1 {
    font-size: 2rem;
  }
  .contactdeats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map-area {
    display: none;
  }
  .text-container h1,
  .office-info h1 {
    font-size: 1.5rem;
  }
  .footer-container {
    text-align: center;
  }

  .footer-content {
    justify-content: center;
    text-align: justify;
  }
  .footer-first, .footer-second {
    text-align: justify;
  }
  
  .follow-us {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .contact-content h1 {
    font-size: 1.5rem;
  }
  .contactdeats {
    display: flex;
    flex-direction: column;
  }
  .text-container h1,
  .office-info h1 {
    font-size: 1.2rem;
  }
}
