.login-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../components/Assets/logbg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FF9F1C;
}

.form-container {
    background-color: rgba(49, 54, 40, 0.5);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: 0.6s ease-in-out;
    padding-bottom: 40px;
}

.form {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.login-form {
  left: 0;
  z-index: 2;
}

.signup-form {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.form-container.slide-left .login-form {
  transform: translateX(100%);
   opacity: 0;
  z-index: 1;
}

.form-container.slide-left .signup-form {
  opacity: 1;
  transform: translateX(100%);
  z-index: 5;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 8px 0; 
  width: 100%; 
  font-size: 16px;
}

.form button {
  border-radius: 20px;
  border: 1px solid #FF9F1C;
  background-color: #FF9F1C;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin-top: 15px;
}

.form button:active {
  transform: scale(0.95);
}

.form-switch {
  margin-top: 15px;
  font-size: 14px;
}

.form-switch span {
  color: #CADF9E;
  text-decoration: underline;
  cursor: pointer;
}

.imagee-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.imagee-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-right:10px;
}

.form-container.slide-left .imagee-container {
  transform: translateX(-100%);
}
.social-login {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.social-login button svg {
  margin-right: 10px;
}
.forgot-password, .back-to-login {
  text-align: center;
  color: #CADF9E;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
}
.forgot-password:hover, .back-to-login:hover {
  color: #e9f7cc;
}