.loginbody {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../components/Assets/logbg.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 1;
}